{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Stud3x - The student exchange platform">
  <meta name="author" content="Thomas Rega">
  <title>Student exchange - Get to know each other - Start Communication - Stop War</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/stud3x.css' %}">
</head>
<body>
  <div id="m13-sidebar" class="sidebar">

  </div>
  <button class="openbtn" onclick="openNav()">☰</button>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  <script type="text/javascript" src="{% static '/js/m13.js' %}"></script>
</body>
</html>